@model PMS_PropertyHapa.Models.DTO.TenantViewModel
}
@{
    ViewData["Title"] = "Add Tenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.custom-hover-nav-tabs .nav-item .nav-link {
    width: 120px;
    height: 45px;
    position: relative;
    border-radius: 0;
    padding-top: 11px;
    font-size: 16px;

}
.nav-pills {
    --vz-nav-pills-border-radius: 0.25rem;
    --vz-nav-pills-link-active-color: #fff;
    --vz-nav-pills-link-active-bg: #0ab39c;
}
</style>
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12">
                    <h3>Organization List</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="home-item" href="/Admin"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Admin</li>
                        <li class="breadcrumb-item active">Organization</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Create New Organization</h4>
                    </div>
                    <div class="card-body">
                        <form class="create-form" novalidate="" method="post" enctype="multipart/form-data">
                        <div class="live-preview">
                            <div class="row gy-4">
                                <!--end col-->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>First Name:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                        <input asp-for="User.FirstName" class="form-control" placeholder="Enter First Name"  />
                                        <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label asp-for="User.LastName"></label>
                                        <input asp-for="User.LastName" class="form-control" placeholder="Enter Last Name"  />
                                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>User Name:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                        <input asp-for="User.UserName" class="form-control" placeholder="Please Enter Username" autocomplete="off" />
                                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>Email:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                        <div class="form-icon right">
                                            <input type="email" class="form-control form-control-icon" asp-for="User.Email" placeholder="example@gmail.com">
                                            <i class="ri-mail-unread-line"></i>
                                        </div>
                                        <span asp-validation-for="User.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>Password:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                        <div class="form-icon right">
                                            <input asp-for="User.Password" class="form-control form-control-icon" placeholder="Ex: Test@123" />
                                            <i class="ri-lock-password-line"></i>
                                        </div>
                                        <span asp-validation-for="User.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label asp-for="User.BirthDate"></label>
                                        <div class="form-icon right">
                                                <input asp-for="User.BirthDate" name="User.BirthDate" type="date" class="form-control" />

                                        </div>
                                        <span asp-validation-for="User.BirthDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>PhoneNumber:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                        <div class="form-icon right">
                                            <input asp-for="User.PhoneNumber" class="form-control form-control-icon" placeholder="Please Enter Phone Number" type="number" />
                                            <i class="ri-phone-line"></i>
                                        </div>
                                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>Role</label>
                                            <select asp-for="User.Group" id="User_Group" class="form-control"></select>
                                    </div>
                                </div>
                                <!-- Organization Name -->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>Organization Name:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                        <input asp-for="OrganizationInfo.OrganizationName" class="form-control" placeholder="Enter Organization Name" />
                                        <span asp-validation-for="OrganizationInfo.OrganizationName" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- Organization Description -->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>Organization Description:</label>
                                        <textarea asp-for="OrganizationInfo.OrganizationDescription" class="form-control" placeholder="Enter Organization Description"></textarea>
                                        <span asp-validation-for="OrganizationInfo.OrganizationDescription" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- Organization Icon File Upload -->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>Organization Icon:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                        <input asp-for="OrganizationInfo.OrganizationIconFile" type="file" class="form-control" />
                                        <span asp-validation-for="OrganizationInfo.OrganizationIconFile" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- Organization Logo File Upload -->
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                        <label>Organization Logo:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                        <input asp-for="OrganizationInfo.OrganizationLogoFile" type="file" class="form-control" />
                                            <span asp-validation-for="OrganizationInfo.OrganizationLogoFile" class="text-danger"></span>
                                    </div>
                                </div>

                                    <!-- Organization Primary Color -->
                                    <div class="col-xxl-3 col-md-6">
                                        <div>
                                            <label for="OrganizationInfo_OrganizatioPrimaryColor">Primary Color:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                            <input type="color" id="OrganizationInfo_OrganizatioPrimaryColor" name="OrganizationInfo.OrganizatioPrimaryColor" class="form-control" /> 
                                            <span asp-validation-for="OrganizationInfo.OrganizatioPrimaryColor" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <!-- Organization Secondary Color -->
                                    <div class="col-xxl-3 col-md-6">
                                        <div>
                                            <label for="OrganizationInfo_OrganizationSecondColor">Secondary Color:&nbsp;<span style="color:red!important"><b>*</b></span></label>
                                            <input type="color" id="OrganizationInfo_OrganizationSecondColor" name="OrganizationInfo.OrganizationSecondColor" class="form-control" /> 
                                            <span asp-validation-for="OrganizationInfo.OrganizationSecondColor" class="text-danger"></span>
                                        </div>
                                    </div>



                                <div class="col-xxl-3 col-md-6">
                                    <div style="padding-top: 26px;">
                                        <button type="submit" id="createTenantButton" onclick="createTenant();" class="btn btn-success">Create Tenant</button>
                                    </div>
                                </div>
                            </div>
                            <!--end row-->
                        </div>
                        </form>
                    </div>
                </div>
            </div>                <!--end col-->
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">Tenant List</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="live-preview">
                                            <div class="row gy-4">
                                                <!--end col-->
                                                <div class="col-xxl-5 col-md-5">
                                                    <div>
                                                        <input type="text" name="Searchtext" id="Searchtext" class="form-control" placeholder="Search By Name & Email" />
                                                    </div>
                                                </div>
                                                <div class="col-xxl-1 col-md-1">
                                                    <div>
                                                        <button type="button" onclick="SearchFilter();" class="btn btn-success">Search</button>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-md-2">
                                                    <div>
                                                        <button type="button" onclick="Refresh();" class="btn btn-success">Reset Filter</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end row-->
                                        </div>
                                    </div>
                                </div>
                            </div>                <!--end col-->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content text-muted">
                            <div class="tab-pane show active" id="All-hover-All">
                                <div class="table-responsive">
                                    <table class="table align-middle table-hover table-nowrap table-striped-columns">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">User Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Phone Number</th>
                                                <th scope="col">Created Date</th>
                                                <th scope="col">Organization Name</th>
                                                <th scope="col">Organization Logo</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Allusertbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card-body -->
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        window.alert = function () { }
         getGroups();
        getalluser();
    });
    function DeleteRole(Id) {
        debugger;
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Delete',
                    data: {
                        "Id": Id
                    },
                    success: function (response) {
                    var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                        Toast.fire({ icon: 'success', title: 'Tenant Delete Successfully..!' });
                        getalluser();
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    } 
                });
            }
        })
    }
    function getalluser() {

        $.ajax({
            type: 'GET',
            url: '/Admin/GetAllUser',
            processData: false,
            contentType: false,
            success: function (response) 
            {
               
                var All = '';
                // All users
                $.each(response, function (key, item) {
                    
                        All += '<tr>';
                        All += '<td>' + item.UserName + '</td>';
                        All += '<td>' + item.Email + '</td>';
                        All += '<td>' + item.PhoneNumber + '</td>';
                        if (item.AddedDate == null) {
                            All += '<td>-----</td>';
                        }
                        else {
                            All += '<td>' + formatDate(item.AddedDate) + '</td>';
                        }
                    All += '<td>' + item.OrganizationName + '</td>';
                    if (item.OrganizationLogo) {
                        All += '<td><img src="/uploads/' + item.OrganizationLogo + '" style="width:50px; height:50px;"></td>';
                    } else {
                        All += '<td></td>'; 
                    }
                    All += '<td><div class="d-flex gap-2">' +
                        '<div class="edit">' +
                        '<button class="btn btn-sm btn-success edit-item-btn" style="height: 30px; line-height: 1.2;" data-bs-toggle="modal" data-bs-target="#EditUser" onclick="EditUser(\'' + item.Id + '\')">Edit User</button>' +
                        '</div><div class="remove">' +
                        '<button class="btn btn-sm btn-danger remove-item-btn" style="height: 30px; line-height: 1.2;" onclick="DeleteRole(\'' + item.Id + '\')">Delete User</button>' +
                        '</div></div></td>';

                        All += '</tr>';
                    });
                $('#Allusertbody').empty().append(All);
            },
            failure: function (response) {
                $('#result').html(response);
            }
        });
    }
    function SearchFilter()
    {
          var result = FilterValidation();
          if(result == true)
          {
            $.ajax({
            type: 'GET',
            url: '/Admin/GetFilterAllUser',
            data : { "Searchtext": $('#Searchtext').val(), "Shop": $('#shops').val() },
            success: function (response) {
                var All = '';
                // All users
                $.each(response, function (key, item) {
                    All += '<tr>';
                    All += '<td>' + item.UserName + '</td>';
                    All += '<td>' + item.Email + '</td>';
                    All += '<td>' + item.PhoneNumber + '</td>';
                    if (item.AddedDate == null) {
                        All += '<td>-----</td>';
                    }
                    else {
                        All += '<td>' + formatDate(item.AddedDate) + '</td>';
                    }
                        All += '<td><div class="d-flex gap-2"><div class="edit"><button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal" data-bs-target="#EditUser" onclick="EditUser(\'' + item.Id + '\')">Edit User</button></div><div class="remove"></div><button class="btn btn-sm btn-danger remove-item-btn" onclick="DeleteRole(\'' + item.Id + '\')">Delete User</button> </div></td>';
                    All += '</tr>';
                });
                $('#Allusertbody').empty().append(All);
            },
            failure: function (response) {
                $('#result').html(response);
            }
        });
          }
    }
    function EditUser(Id) {

        $('#Id').val(Id);
        window.location.href = '@Url.Action("Update", "Admin")/' + Id;
    }
    function formatDate(date) {
        debugger
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [day, month, year].join('-');
    }
    function FilterValidation() {
        if ($('#Searchtext').val() == ''  && $('#shops').val() == '') 
        {
            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
            Toast.fire({ icon: 'error', title: 'Use At-least One Filter Action..!' });
            return false; 
        }
        else 
        {
             return true; 
        }
    }
    function CheckValidation() {
        debugger
        if ($('#FirstName').val() == '') { $('#FirstName').css('border-color', 'red'); var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 }); Toast.fire({ icon: 'error', title: 'Required Fields are Mandatory...!' }); } else { $('#FirstName').css('border-color', '#ced4da') }
        if ($('#UserName').val() == '') { $('#UserName').css('border-color', 'red'); var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 }); Toast.fire({ icon: 'error', title: 'Required Fields are Mandatory...!' }); } else { $('#UserName').css('border-color', '#ced4da') }
        if ($('#Email').val() == '') { $('#Email').css('border-color', 'red'); var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 }); Toast.fire({ icon: 'error', title: 'Required Fields are Mandatory...!' }); } else { $('#Email').css('border-color', '#ced4da') }
        if ($('#PhoneNumber').val() == '') { $('#PhoneNumber').css('border-color', 'red'); var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 }); Toast.fire({ icon: 'error', title: 'Required Fields are Mandatory...!' }); } else { $('#PhoneNumber').css('border-color', '#ced4da') }
    //    if ($('#Password').val() == '') { $('#Password').css('border-color', 'red'); var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 }); Toast.fire({ icon: 'error', title: 'Required Fields are Mandatory...!' }); } else { $('#Password').css('border-color', '#ced4da') }
        if ($('#Group').val() == '') { $('#Group').css('border-color', 'red'); var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 }); Toast.fire({ icon: 'error', title: 'Required Fields are Mandatory...!' }); } else { $('#Group').css('border-color', '#ced4da') }
        if ($('#Group').val() == '' || $('#Password').val() == '' || $('#FirstName').val() == '' || $('#UserName').val() == '' || $('#Email').val() == '' || $('#PhoneNumber').val() == '') {
            return false;
        }
        else {
            var result = validates($('#Password').val());
            if (result == false) {
                var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 5000 });
                Toast.fire({ icon: 'error', title: 'The password must contain at least 1 number, at least 1 lower case letter, and at least 1 upper case letter' });
                return false;
            }
            else {
                return true;
            }

        }
    }




    function ProfileUpdate() {
        var result = CheckValidation();
        var email = $("#Email").val().trim();
        if (result == true) {
            $.ajax({
                type: 'POST',
                url: '/Account/DoesUserEmailExist',
                data: {
                    "Email": email
                },
                success: function (response) {
                    if (response == true) {
                        var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                        Toast.fire({ icon: 'error', title: 'Email Already Exist, Please Enter a new Email...!' });
                        $('#Email').css('border-color', 'red');
                        return false;
                    }
                    else {
                        $('#Email').css('border-color', '#ced4da');
                        var fileData = new FormData();
                        fileData.append("FirstName", $('#FirstName').val());
                        fileData.append("LastName", $('#LastName').val());
                        fileData.append("Email", $('#Email').val());
                        fileData.append("PhoneNumber", $('#PhoneNumber').val());
                        fileData.append("BirthDate", $('#BirthDate').val());
                        fileData.append("UserName", $('#UserName').val());
                        fileData.append("Password", $('#Password').val());
                        fileData.append("Group", $('select#Group option:selected').val());
                        $.ajax({
                            type: 'POST',
                            url: '/Admin/Create',
                            contentType: false,
                            processData: false,
                            data: fileData,
                            success: function (response) {

                                if (response == true) {
                                    var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                                    Toast.fire({ icon: 'success', title: 'Tenant Create Successfully..!' });
                                    $("#FirstName").val('');
                                    $("#LastName").val('');
                                    $("#Email").val('');
                                    $("#PhoneNumber").val('');
                                    $("#BirthDate").val('');
                                    $("#UserName").val('');
                                    $("#Password").val('');
                                    $("#Group").val('');
                                
                                }
                                else {
                                    var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                                    Toast.fire({ icon: 'error', title: response });
                                }

                            },
                            failure: function (response) {
                                $('#result').html(response);
                            }
                        });
                    }
                }
            });
        }
    }





   

    // Attach this function to your form submission event or a button click event.
    // Example:
    $('#createTenantButton').on('click', function (e) {
        e.preventDefault(); // Prevent default form submission if using form submit button.
        createTenant();
    });


    $("#Email").change(function () {
        var email = $("#Email").val().trim();
        $.ajax({
            type: 'POST',
            url: '/Account/DoesUserEmailExist',
            data: {
                "Email": email
            },
            success: function (response) {
                if (response == true) {
                    var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                    Toast.fire({ icon: 'error', title: 'Email Already Exist, Please Enter a new Email...!' });
                    $('#Email').css('border-color', 'red');
                    return false;
                }
                else {
                    $('#Email').css('border-color', '#ced4da');
                }
            },
            failure: function (response) {
            }
        });
    });
    function getCountry() {
        $.ajax({
            type: "GET",
            url: "/LookUp/CountryDropDown",
            data: "{}",
            success: function (data) {
                var s = '<option value="">Please Select a Country</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                }
                $("#Country").html(s);
            }
        });

    }
    function getShop() {
        $.ajax({
            type: "GET",
            url: "/LookUp/ShopDropDown",
            data: "{}",
            success: function (data) {
                var s = '<option value="">Please Select a Shop</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                }
                $("#Shop").html(s);
                 $("#shops").html(s);
                
            }
        });
    }
    function getGroups() {
        $.ajax({
            type: "GET",
            url: "/LookUp/AspnetRolesDropDown",
            data: "{}",
            success: function (data) {
                var s = '<option value="">Please Select a Role</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].Text + '">' + data[i].Text + '</option>';
                }
                $("#User_Group").html(s);
            }
        });

    }
    function Refresh()
    {
        window.location.reload();
    }


    function createTenant() {
    
        

        var formData = new FormData();
        formData.append('User.FirstName', $('#User_FirstName').val());
        formData.append('User.LastName', $('#User_LastName').val());
        formData.append('User.Email', $('#User_Email').val());
        formData.append('User.PhoneNumber', $('#User_PhoneNumber').val());
        formData.append('User.BirthDate', $('#User_BirthDate').val());
        formData.append('User.UserName', $('#User_UserName').val());
        formData.append('User.Password', $('#User_Password').val());
        formData.append('User.Group', $('#User_Group').val());
        formData.append('OrganizationInfo.OrganizationName', $('#OrganizationInfo_OrganizationName').val());
        formData.append('OrganizationInfo.OrganizationDescription', $('#OrganizationInfo_OrganizationDescription').val());
        formData.append('OrganizationInfo.OrganizationIconFile', $('#OrganizationInfo_OrganizationIconFile')[0].files[0]);
        formData.append('OrganizationInfo.OrganizationLogoFile', $('#OrganizationInfo_OrganizationLogoFile')[0].files[0]);
        formData.append('OrganizationInfo.OrganizatioPrimaryColor', $('#OrganizationInfo_OrganizatioPrimaryColor').val());
        formData.append('OrganizationInfo.OrganizationSecondColor', $('#OrganizationInfo_OrganizationSecondColor').val());

        $.ajax({
            type: 'POST',
            url: '/Admin/Create', 
            data: formData,
            contentType: false, 
            processData: false,
            success: function (response) {
                if (response) {
                    var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                    Toast.fire({ icon: 'success', title: 'Tenant created Successfully..!' });
                    Refresh();
                } else {
                    var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                    Toast.fire({ icon: 'error', title: 'Failed to create Tenant' });
                }
            },
            error: function (xhr, status, error) {
                var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                Toast.fire({ icon: 'error', title: 'An error Occurred' });
            }
        });
    }

    
    $('#createTenantButton').on('click', function (e) {
        e.preventDefault(); 
        createTenant();
    });
</script>

@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        var colorOptions = [
            { name: "Please select a color", value: "" }, // Placeholder option
            { name: "Red", value: "#FF0000" },
            { name: "Green", value: "#00FF00" },
            { name: "Blue", value: "#0000FF" }
        ];

        function createColorOptions(selectElementId, targetInputId) {
            var select = document.getElementById(selectElementId);

            // Clear existing options
            select.innerHTML = '';

            colorOptions.forEach(function (color, index) {
                var option = new Option(color.name, color.value);
                select.add(option);

                // Disable the placeholder option
                if (index === 0) {
                    option.disabled = true;
                }
            });

            // Set the placeholder option as selected initially
            select.selectedIndex = 0;

            select.addEventListener("change", function () {
                var colorInput = document.querySelector('input[id="' + targetInputId + '"]');
                colorInput.value = this.value;
                colorInput.dispatchEvent(new Event('change'));
            });
        }

        createColorOptions("primaryColorSelect", "OrganizationInfo_OrganizatioPrimaryColor");
        createColorOptions("secondaryColorSelect", "OrganizationInfo_OrganizationSecondColor");
    });


  
</script> *@
