@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/ManagePropertyforOwnerLayout.cshtml";
}


@* <style>
    .fill-secondary {
        fill: #7b69f8;
    }

    .static-widget {
        display: flex;
        align-items: center;
    }

    .page-body {
        height: 60vh;
    }

</style> *@
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12">
                    <h3>Settings</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="home-item" href="/Groups"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Setting</li>
                        <li class="breadcrumb-item active">Settings</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-6 col-xl-3 col-lg-6">
                                        <div class="card o-hidden">
                                            <div class="card-body">
                                                <div class="media static-widget" onclick="redirectTo('/Groups/Index')">
                                                    <div class="media-body">
                                                        <h6 class="font-roboto">Manage Roles</h6>
                                                    </div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 32 32" id="role"><path d="M18 5V1h-4v4H6v26h20V5h-8zm-2-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm8 27H8V7h6v2h4V7h6v22z"></path><path d="M16 11c-2.762 0-5 2.238-5 5s2.238 5 5 5 5-2.238 5-5-2.238-5-5-5zm0 8c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3zm-4 4a2 2 0 0 0-2 2v2h12v-2a2 2 0 0 0-2-2h-8z"></path></svg>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3 col-lg-6">
                                        <div class="card o-hidden">
                                            <div class="card-body">
                                                <div class="media static-widget" onclick="redirectTo('/UserRoles/Index')">
                                                    <div class="media-body">
                                                        <h6 class="font-roboto">Manage User Roles</h6>
                                                    </div>
                                                    <svg fill="#000000" width="48px" height="48px" viewBox="0 0 52 52" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M38.3,27.2A11.4,11.4,0,1,0,49.7,38.6,11.46,11.46,0,0,0,38.3,27.2Zm2,12.4a2.39,2.39,0,0,1-.9-.2l-4.3,4.3a1.39,1.39,0,0,1-.9.4,1,1,0,0,1-.9-.4,1.39,1.39,0,0,1,0-1.9l4.3-4.3a2.92,2.92,0,0,1-.2-.9,3.47,3.47,0,0,1,3.4-3.8,2.39,2.39,0,0,1,.9.2c.2,0,.2.2.1.3l-2,1.9a.28.28,0,0,0,0,.5L41.1,37a.38.38,0,0,0,.6,0l1.9-1.9c.1-.1.4-.1.4.1a3.71,3.71,0,0,1,.2.9A3.57,3.57,0,0,1,40.3,39.6Z" />
                                                        <circle cx="21.7" cy="14.9" r="12.9" />
                                                        <path d="M25.2,49.8c2.2,0,1-1.5,1-1.5h0a15.44,15.44,0,0,1-3.4-9.7,15,15,0,0,1,1.4-6.4.77.77,0,0,1,.2-.3c.7-1.4-.7-1.5-.7-1.5h0a12.1,12.1,0,0,0-1.9-.1A19.69,19.69,0,0,0,2.4,47.1c0,1,.3,2.8,3.4,2.8H24.9C25.1,49.8,25.1,49.8,25.2,49.8Z" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3 col-lg-6">
                                        <div class="card o-hidden">
                                            <div class="card-body">
                                                <div class="media static-widget" onclick="redirectTo('/PropertyTypes/Index')">
                                                    <div class="media-body">
                                                        <h6 class="font-roboto">Add Property Type</h6>
                                                    </div>
                                                    <svg fill="#000000" height="48" width="48" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M491.721,53.442V0H20.279v53.442H0V512h192.612h126.776H512V53.442H491.721zM50.696,30.417h410.607v23.025H50.696V30.417zM288.971,481.583h-65.942V357.693h65.942V481.583zM481.583,481.583H319.388V327.276H192.612v154.307H30.417V83.859h451.166V481.583z M50.698,104.14v96.356h126.776V104.14H50.698zM147.057,170.079H81.116v-35.521h65.942V170.079zM192.612,104.14v96.356h126.776V104.14H192.612zM288.971,170.079h-65.942v-35.521h65.942V170.079zM334.526,104.14v96.356h126.776V104.14H334.526zM430.884,170.079h-65.941v-35.521h65.941V170.079zM50.698,215.708v96.356h126.776v-96.356H50.698zM147.057,281.646H81.116v-35.521h65.942V281.646zM192.612,215.708v96.356h126.776v-96.356H192.612zM288.971,281.646h-65.942v-35.521h65.942V281.646zM334.526,215.708v96.356h126.776v-96.356H334.526zM430.884,281.646h-65.941v-35.521h65.941V281.646zM50.698,327.275v96.356h126.776v-96.356H50.698zM147.057,393.214H81.116v-35.521h65.942V393.214zM334.526,327.275v96.356h126.776v-96.356H334.526zM430.884,393.214h-65.941v-35.521h65.941V393.214z" /></svg>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3 col-lg-6">
                                        <div class="card o-hidden">
                                            <div class="card-body">
                                                <div class="media static-widget" onclick="redirectTo('/PropertySubTypes/Index')">
                                                    <div class="media-body">
                                                        <h6 class="font-roboto">Add Property SubType</h6>
                                                    </div>
                                                    <svg id="Layer_1" height="48" width="48" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 74.06">
                                                        <defs>
                                                            <style>
                                                                .cls-1 {
                                                                    fill-rule: evenodd;
                                                                }</style>
                                                        </defs>
                                                        <title>housing</title>
                                                        <path class="cls-1" d="M115.5,70v2.74a1.28,1.28,0,0,1-1.28,1.28H80a7.33,7.33,0,0,0,.14-1.41V71.5h4.16V44.79a1.26,1.26,0,0,1,1.24-1.28h15.32a1.26,1.26,0,0,1,1.25,1.28V71.5h10.86V38.69a2.11,2.11,0,0,1,0-.25L86.38,18l-5,2.9-8.57-6.66L85.28,5.38a1.29,1.29,0,0,1,1.66-.07l34,26.25h0l.15.14a5.74,5.74,0,0,1,1.63,5.3,4.9,4.9,0,0,1-1.11,2.13,4.84,4.84,0,0,1-2,1.34,5.38,5.38,0,0,1-4.15-.27V70Zm-42-.4v3A1.41,1.41,0,0,1,72,74.06H9.13a1.41,1.41,0,0,1-1.4-1.41V37.7a6.27,6.27,0,0,1-4.26.2,4.91,4.91,0,0,1-2.35-1.65A5.13,5.13,0,0,1,0,33.6a6.67,6.67,0,0,1,1.61-4.94h0a1.25,1.25,0,0,1,.23-.23L39.25.37A1.39,1.39,0,0,1,41.06.3l38.39,28h0a.8.8,0,0,1,.17.15,6.3,6.3,0,0,1,1.79,5.83,5.39,5.39,0,0,1-1.22,2.33A5.24,5.24,0,0,1,78,38.08a5.87,5.87,0,0,1-4.56-.29V69.64ZM16.85,50.52H30.74A1.25,1.25,0,0,1,32,51.77v12A1.24,1.24,0,0,1,30.74,65H16.85a1.25,1.25,0,0,1-1.27-1.24v-12a1.26,1.26,0,0,1,1.27-1.25Zm22.65-9H56.33a1.39,1.39,0,0,1,1.36,1.41V71.25h13V36.13a2.45,2.45,0,0,1,0-.27L40.45,14.22l-30,21.65a1.5,1.5,0,0,1,0,.37v35h27.6V42.92a1.39,1.39,0,0,1,1.36-1.41ZM55,44.33H40.87V71.22H55V44.33Zm44.63,1.74H86.76v25.4H99.59V46.07Z" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3 col-lg-6">
                                        <div class="card o-hidden">
                                            <div class="card-body">
                                                <div class="media static-widget">
                                                    <div class="media-body">
                                                        <h6 class="font-roboto">New User</h6>
                                                        <h4 class="mb-0 counter">45631</h4>
                                                    </div>
                                                    <svg class="fill-danger" width="41" height="46" viewBox="0 0 41 46" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M17.5245 23.3155C24.0019 23.3152 26.3325 16.8296 26.9426 11.5022C27.6941 4.93936 24.5906 0 17.5245 0C10.4593 0 7.35423 4.93899 8.10639 11.5022C8.71709 16.8296 11.047 23.316 17.5245 23.3155Z"></path>
                                                        <path d="M31.6878 26.0152C31.8962 26.0152 32.1033 26.0214 32.309 26.0328C32.0007 25.5931 31.6439 25.2053 31.2264 24.8935C29.9817 23.9646 28.3698 23.6598 26.9448 23.0998C26.2511 22.8273 25.6299 22.5567 25.0468 22.2485C23.0787 24.4068 20.5123 25.5359 17.5236 25.5362C14.536 25.5362 11.9697 24.4071 10.0019 22.2485C9.41877 22.5568 8.79747 22.8273 8.10393 23.0998C6.67891 23.6599 5.06703 23.9646 3.82233 24.8935C1.6698 26.5001 1.11351 30.1144 0.676438 32.5797C0.315729 34.6148 0.0734026 36.6917 0.00267388 38.7588C-0.0521202 40.36 0.738448 40.5846 2.07801 41.0679C3.75528 41.6728 5.48712 42.1219 7.23061 42.4901C10.5977 43.2011 14.0684 43.7475 17.5242 43.7719C19.1987 43.76 20.8766 43.6249 22.5446 43.4087C21.3095 41.6193 20.5852 39.4517 20.5852 37.1179C20.5853 30.9957 25.5658 26.0152 31.6878 26.0152Z"></path>
                                                        <path d="M31.6878 28.2357C26.7825 28.2357 22.8057 32.2126 22.8057 37.1179C22.8057 42.0232 26.7824 46 31.6878 46C36.5932 46 40.57 42.0232 40.57 37.1179C40.57 32.2125 36.5931 28.2357 31.6878 28.2357ZM35.5738 38.6417H33.2118V41.0037C33.2118 41.8453 32.5295 42.5277 31.6879 42.5277C30.8462 42.5277 30.1639 41.8453 30.1639 41.0037V38.6417H27.802C26.9603 38.6417 26.278 37.9595 26.278 37.1177C26.278 36.276 26.9602 35.5937 27.802 35.5937H30.1639V33.2318C30.1639 32.3901 30.8462 31.7078 31.6879 31.7078C32.5296 31.7078 33.2118 32.3901 33.2118 33.2318V35.5937H35.5738C36.4155 35.5937 37.0978 36.276 37.0978 37.1177C37.0977 37.9595 36.4155 38.6417 35.5738 38.6417Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3 col-lg-6">
                                        <div class="card o-hidden">
                                            <div class="card-body">
                                                <div class="media static-widget">
                                                    <div class="media-body">
                                                        <h6 class="font-roboto">New User</h6>
                                                        <h4 class="mb-0 counter">45631</h4>
                                                    </div>
                                                    <svg class="fill-danger" width="41" height="46" viewBox="0 0 41 46" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M17.5245 23.3155C24.0019 23.3152 26.3325 16.8296 26.9426 11.5022C27.6941 4.93936 24.5906 0 17.5245 0C10.4593 0 7.35423 4.93899 8.10639 11.5022C8.71709 16.8296 11.047 23.316 17.5245 23.3155Z"></path>
                                                        <path d="M31.6878 26.0152C31.8962 26.0152 32.1033 26.0214 32.309 26.0328C32.0007 25.5931 31.6439 25.2053 31.2264 24.8935C29.9817 23.9646 28.3698 23.6598 26.9448 23.0998C26.2511 22.8273 25.6299 22.5567 25.0468 22.2485C23.0787 24.4068 20.5123 25.5359 17.5236 25.5362C14.536 25.5362 11.9697 24.4071 10.0019 22.2485C9.41877 22.5568 8.79747 22.8273 8.10393 23.0998C6.67891 23.6599 5.06703 23.9646 3.82233 24.8935C1.6698 26.5001 1.11351 30.1144 0.676438 32.5797C0.315729 34.6148 0.0734026 36.6917 0.00267388 38.7588C-0.0521202 40.36 0.738448 40.5846 2.07801 41.0679C3.75528 41.6728 5.48712 42.1219 7.23061 42.4901C10.5977 43.2011 14.0684 43.7475 17.5242 43.7719C19.1987 43.76 20.8766 43.6249 22.5446 43.4087C21.3095 41.6193 20.5852 39.4517 20.5852 37.1179C20.5853 30.9957 25.5658 26.0152 31.6878 26.0152Z"></path>
                                                        <path d="M31.6878 28.2357C26.7825 28.2357 22.8057 32.2126 22.8057 37.1179C22.8057 42.0232 26.7824 46 31.6878 46C36.5932 46 40.57 42.0232 40.57 37.1179C40.57 32.2125 36.5931 28.2357 31.6878 28.2357ZM35.5738 38.6417H33.2118V41.0037C33.2118 41.8453 32.5295 42.5277 31.6879 42.5277C30.8462 42.5277 30.1639 41.8453 30.1639 41.0037V38.6417H27.802C26.9603 38.6417 26.278 37.9595 26.278 37.1177C26.278 36.276 26.9602 35.5937 27.802 35.5937H30.1639V33.2318C30.1639 32.3901 30.8462 31.7078 31.6879 31.7078C32.5296 31.7078 33.2118 32.3901 33.2118 33.2318V35.5937H35.5738C36.4155 35.5937 37.0978 36.276 37.0978 37.1177C37.0977 37.9595 36.4155 38.6417 35.5738 38.6417Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3 col-lg-6">
                                        <div class="card o-hidden">
                                            <div class="card-body">
                                                <div class="media static-widget">
                                                    <div class="media-body">
                                                        <h6 class="font-roboto">New User</h6>
                                                        <h4 class="mb-0 counter">45631</h4>
                                                    </div>
                                                    <svg class="fill-danger" width="41" height="46" viewBox="0 0 41 46" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M17.5245 23.3155C24.0019 23.3152 26.3325 16.8296 26.9426 11.5022C27.6941 4.93936 24.5906 0 17.5245 0C10.4593 0 7.35423 4.93899 8.10639 11.5022C8.71709 16.8296 11.047 23.316 17.5245 23.3155Z"></path>
                                                        <path d="M31.6878 26.0152C31.8962 26.0152 32.1033 26.0214 32.309 26.0328C32.0007 25.5931 31.6439 25.2053 31.2264 24.8935C29.9817 23.9646 28.3698 23.6598 26.9448 23.0998C26.2511 22.8273 25.6299 22.5567 25.0468 22.2485C23.0787 24.4068 20.5123 25.5359 17.5236 25.5362C14.536 25.5362 11.9697 24.4071 10.0019 22.2485C9.41877 22.5568 8.79747 22.8273 8.10393 23.0998C6.67891 23.6599 5.06703 23.9646 3.82233 24.8935C1.6698 26.5001 1.11351 30.1144 0.676438 32.5797C0.315729 34.6148 0.0734026 36.6917 0.00267388 38.7588C-0.0521202 40.36 0.738448 40.5846 2.07801 41.0679C3.75528 41.6728 5.48712 42.1219 7.23061 42.4901C10.5977 43.2011 14.0684 43.7475 17.5242 43.7719C19.1987 43.76 20.8766 43.6249 22.5446 43.4087C21.3095 41.6193 20.5852 39.4517 20.5852 37.1179C20.5853 30.9957 25.5658 26.0152 31.6878 26.0152Z"></path>
                                                        <path d="M31.6878 28.2357C26.7825 28.2357 22.8057 32.2126 22.8057 37.1179C22.8057 42.0232 26.7824 46 31.6878 46C36.5932 46 40.57 42.0232 40.57 37.1179C40.57 32.2125 36.5931 28.2357 31.6878 28.2357ZM35.5738 38.6417H33.2118V41.0037C33.2118 41.8453 32.5295 42.5277 31.6879 42.5277C30.8462 42.5277 30.1639 41.8453 30.1639 41.0037V38.6417H27.802C26.9603 38.6417 26.278 37.9595 26.278 37.1177C26.278 36.276 26.9602 35.5937 27.802 35.5937H30.1639V33.2318C30.1639 32.3901 30.8462 31.7078 31.6879 31.7078C32.5296 31.7078 33.2118 32.3901 33.2118 33.2318V35.5937H35.5738C36.4155 35.5937 37.0978 36.276 37.0978 37.1177C37.0977 37.9595 36.4155 38.6417 35.5738 38.6417Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3 col-lg-6">
                                        <div class="card o-hidden">
                                            <div class="card-body">
                                                <div class="media static-widget">
                                                    <div class="media-body">
                                                        <h6 class="font-roboto">New User</h6>
                                                        <h4 class="mb-0 counter">45631</h4>
                                                    </div>
                                                    <svg class="fill-danger" width="41" height="46" viewBox="0 0 41 46" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M17.5245 23.3155C24.0019 23.3152 26.3325 16.8296 26.9426 11.5022C27.6941 4.93936 24.5906 0 17.5245 0C10.4593 0 7.35423 4.93899 8.10639 11.5022C8.71709 16.8296 11.047 23.316 17.5245 23.3155Z"></path>
                                                        <path d="M31.6878 26.0152C31.8962 26.0152 32.1033 26.0214 32.309 26.0328C32.0007 25.5931 31.6439 25.2053 31.2264 24.8935C29.9817 23.9646 28.3698 23.6598 26.9448 23.0998C26.2511 22.8273 25.6299 22.5567 25.0468 22.2485C23.0787 24.4068 20.5123 25.5359 17.5236 25.5362C14.536 25.5362 11.9697 24.4071 10.0019 22.2485C9.41877 22.5568 8.79747 22.8273 8.10393 23.0998C6.67891 23.6599 5.06703 23.9646 3.82233 24.8935C1.6698 26.5001 1.11351 30.1144 0.676438 32.5797C0.315729 34.6148 0.0734026 36.6917 0.00267388 38.7588C-0.0521202 40.36 0.738448 40.5846 2.07801 41.0679C3.75528 41.6728 5.48712 42.1219 7.23061 42.4901C10.5977 43.2011 14.0684 43.7475 17.5242 43.7719C19.1987 43.76 20.8766 43.6249 22.5446 43.4087C21.3095 41.6193 20.5852 39.4517 20.5852 37.1179C20.5853 30.9957 25.5658 26.0152 31.6878 26.0152Z"></path>
                                                        <path d="M31.6878 28.2357C26.7825 28.2357 22.8057 32.2126 22.8057 37.1179C22.8057 42.0232 26.7824 46 31.6878 46C36.5932 46 40.57 42.0232 40.57 37.1179C40.57 32.2125 36.5931 28.2357 31.6878 28.2357ZM35.5738 38.6417H33.2118V41.0037C33.2118 41.8453 32.5295 42.5277 31.6879 42.5277C30.8462 42.5277 30.1639 41.8453 30.1639 41.0037V38.6417H27.802C26.9603 38.6417 26.278 37.9595 26.278 37.1177C26.278 36.276 26.9602 35.5937 27.802 35.5937H30.1639V33.2318C30.1639 32.3901 30.8462 31.7078 31.6879 31.7078C32.5296 31.7078 33.2118 32.3901 33.2118 33.2318V35.5937H35.5738C36.4155 35.5937 37.0978 36.276 37.0978 37.1177C37.0977 37.9595 36.4155 38.6417 35.5738 38.6417Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-body d-flex justify-content-center align-items-center">
    <div class="container default-dash">
       
    </div>
</div>


<script>
    function redirectTo(url) {
        window.location.href = url;
    }
</script>