@model PMS_PropertyHapa.Models.DTO.ForgetPassword
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('#forgotPasswordForm').on('submit', function (e) {
                e.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: "/Account/ForgotPasswordRequest",
                    type: 'POST',
                    processData: false, 
                    contentType: false,  
                    data: formData,
                    success: function (response) {
                     
                        if (response.isSuccess) {
                            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                            Toast.fire({ icon: 'success', title: 'Reset password email sent successfully. Please check your email.' });
                        } else {
                            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                            Toast.fire({ icon: 'error', title: 'No user found with this email.' });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        if (xhr.status === 404) {
                            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                            Toast.fire({ icon: 'error', title: 'No user found with this email.' });

                        } else {
                            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                            Toast.fire({ icon: 'error', title: 'An error occurred while processing your request.' });
                        }
                    }
                });
            });
        });
    </script>




<form class="theme-form register-form needs-validation" id="forgotPasswordForm" novalidate="" method="post">
    <div class="container-fluid border p-4">
        <div class="row text-center">
            <h1>Forgot Password</h1>
        </div>
        <div class="row text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Email" type="email" class="form-control" width="80px" placeholder="Email..." />
            </div>
            <div class="col-6 offset-3 pb-2">
                <button type="submit" class="form-control btn-success" value="Submit">Reset Password</button>
            </div>
        </div>
    </div>
</form>
