@model PMS_PropertyHapa.Models.DTO.RegisterationRequestDTO
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('.register-form').find('input[type=text], input[type=password], select').val('');

            $('#registerForm').on('submit', function (e) {
                e.preventDefault();

              
                var formData = new FormData(this);

                $.ajax({
                    url: '/Auth/Register',
                    type: 'POST',
                    processData: false,
                    contentType: false,  
                    data: formData,
                    success: function (response) {
                        console.log(response);
                        var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                        Toast.fire({ icon: 'success', title: 'Registered Successfully' });
                        window.location.href = "/Auth/Login";
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                        Toast.fire({ icon: 'error', title: 'An Error Occurred' });
                    }
                });
            });
        });
    </script>

}



<form class="theme-form register-form needs-validation" novalidate="" method="post">
    <div class="container border p-4" style="max-width: 500px; margin: 0 auto;">
        <div class="row text-center">
            <h1>Register</h1>
        </div>
        <div class="row text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-md-12 pb-2">
                <input asp-for="UserName" type="text" class="form-control" placeholder="Username..." autocomplete="off" />
            </div>
            <div class="col-md-12 pb-2">
                <input asp-for="Name" type="text" class="form-control" placeholder="Name..." autocomplete="off" />
            </div>
            <div class="col-md-12 pb-2">
                <input asp-for="Email" type="text" class="form-control" placeholder="Email..." autocomplete="off" />
            </div>
            <div class="col-md-12 pb-2">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password..." autocomplete="off" />
            </div>
            <div class="col-md-12 pb-2">
                <select asp-for="Role" class="form-select">
                    <option disabled selected>--Select Role--</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
            <div class="col-md-12 pb-2">
                <button type="submit" class="btn btn-success w-100">Register</button>
            </div>
            <div class="col-md-12 pb-2">
                <a class="btn btn-primary w-100" href="javascript:history.back()">Go Back</a>
            </div>
        </div>
    </div>
</form>


