
@{
    ViewData["Title"] = "PaidPayments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12">
                    <h3>Piad Payments</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="home-item" href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Coming Soon</li>
                        <li class="breadcrumb-item active">Coming Soon</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">
                            Coming Soon
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="grouproles">
                                <thead>
                                    <tr>
                                        <th style="width:290px!Important;text-align:center">.........</th>
                                        <th style="width:290px!Important;text-align:center">.........</th>
                                        <th style="width:290px!Important;text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                        <td style="text-align:center">.........</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

