@model PMS_PropertyHapa.Models.DTO.ResetPasswordDto
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            var encryptedEmail = urlParams.get('email');
            $('#Email').val(encryptedEmail);

            $('#resetPasswordForm').on('submit', function (e) {
                e.preventDefault();

                var formData = new FormData(this);
                formData.append('Email', encryptedEmail); 

                $.ajax({
                    url: "/Auth/ResetPassword",
                    type: 'POST',
                    processData: false,
                    contentType: false, 
                    data: formData,
                    success: function (response) {
                        var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                        Toast.fire({ icon: 'success', title: 'Password reset successfully.' });
                    },
                    error: function (xhr, status, error) {
                        var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });
                        Toast.fire({ icon: 'error', title: 'Error resetting password' });
                    }
                });
            });
        });
    </script>
}





<form class="theme-form needs-validation" id="resetPasswordForm" novalidate="" method="post">
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Reset Password</h1>
        </div>
        <div class="row text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Password" type="password" class="form-control" placeholder="New Password..." />
            </div>
            <div class="col-6 offset-3 pb-2">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password..." />
            </div>
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Email" type="hidden" />
                <button type="submit" class="form-control btn-success" value="Submit">Reset Password</button>
            </div>
        </div>
    </div>
</form>
