@using PMS_PropertyHapa.Models.DTO;
@model AssetDTO

@{
    ViewData["Title"] = "AddAssest";
    Layout = "~/Views/Shared/ManagePropertyforOwnerLayout.cshtml";
}

<head>
    <style>


        .thick-black-underline {
            height: 2px; /* Adjust the thickness of the underline */
            background-color: black;
            width: 100%;
            margin: 20px 0;
        }

        /* Add this CSS to target address fields specifically */
        #step2 .row {
            flex-wrap: nowrap; /* Ensure the address fields stay in one row */
        }

        #step2 .col-md-6 {
            flex: 0 0 50%; /* Make each address field take up half the row */
            max-width: 50%;
        }


        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Align cards to the center */
            gap: 10px;
        }

        .small-square-card-container {
            margin: auto;
            flex: 0 0 18%; /* Reduce the width of each card container */
            max-width: 18%; /* Reduce the maximum width */
            padding: 0 5px; /* Reduce horizontal padding */
        }

        .small-square-card,
        .property-subtype-card {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 5px;
            margin-top: 5px; /* Reduce space between cards */
            font-size: 0.8rem; /* Reduce text size */
        }

            .small-square-card::before,
            .property-subtype-card::before {
                content: '';
                display: block;
                padding-top: 100%; /* Maintains aspect ratio */
            }

            .small-square-card .card-body,
            .property-subtype-card .card-body {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }

            .small-square-card i,
            .property-subtype-card i {
                font-size: 1rem; /* Adjust icon size */
            }

        .selected {
            border: 3px solid #007bff;
            background-color: #e9ecef;
        }

        /* Add responsive adjustments */
        @@media (max-width: 768px) {
            .small-square-card-container {
                flex: 0 0 100%; /* Makes cards full width */
                max-width: 100%;
                padding: 0 5px; /* Reduces horizontal padding */
                margin-bottom: 20px; /* Adds more space between rows of cards */
            }

            .row {
                gap: 5px; /* Reduces gap between flex items */
            }

            .small-square-card,
            .property-subtype-card {
                margin-top: 10px; /* Increases space above cards */
                font-size: 0.9rem; /* Increase text size */
            }

            .f1-steps {
                flex-direction: column; /* Stacks step indicators vertically */
            }

            .f1-step-icon {
                font-size: 1rem;
            }

            .card-body {
                padding: 10px;
            }

            .form-navigation,
            .modal-footer {
                flex-direction: column-reverse;
            }

            .btn-next,
            .btn-previous,
            .closebutton,
            #saveOwner {
                width: 100%;
                margin-top: 10px;
            }

            .modal-dialog {
                margin: 20px;
            }

            .modal-content {
                padding: 10px;
            }
            /* Adjust justify-content based on the number of cards in a row */
            @@media (max-width: 768px) {
                .row {
                    justify-content: center; /* Align cards to the center */
                }
                /* For small screens with at least 3 cards in a row */
                @@media (max-width: 768px) and (min-width: 576px) {
                    .row {
                        justify-content: space-between; /* Align cards with space between them */
                    }
                }
                /* For small screens with less than 3 cards in a row */
                @@media (max-width: 576px) {
                    .row {
                        justify-content: center; /* Align cards to the center */
                    }
                }
            }
        }

    </style>



</head>

<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row align-items-center justify-content-between">
                <!-- Adjusted for alignment and distribution -->
                <div class="col-auto">
                    <!-- col-auto adjusts the width to its content -->
                    <h3>Add New Property</h3>
                </div>
                <div class="col-auto">
                    <!-- col-auto adjusts the width to its content -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <!-- mb-0 removes the bottom margin -->
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i data-feather="home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">Property</li>
                            <li class="breadcrumb-item active" aria-current="page">Create</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                    </div>
                    <div class="card-body">
                        <form class="f1" method="post" id="multiStepForm">
                            <div class="f1-steps" style="display: flex; justify-content: space-between;">
                                <div class="f1-progress" style="position: absolute; width: 100%; bottom: 0;">
                                    <div class="f1-progress-line" id="progressLine"></div>
                                </div>
                                <div class="f1-step active" id="stepIndicator1" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p>Type</p>
                                </div>
                                <div class="f1-step active" id="stepIndicator2" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                                    <p>Address</p>
                                </div>
                                <div class="f1-step active" id="stepIndicator3" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-building"></i></div>
                                    <p>Units</p>
                                </div>
                                <div class="f1-step active" id="stepIndicator4" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-bank"></i></div>
                                    <p>Bank Accounts</p>
                                </div>
                                <div class="f1-step active" id="stepIndicator5" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-dollar"></i></div>
                                    <p>Reserve Funds</p>
                                </div>
                                <div class="f1-step" id="stepIndicator6" style="flex: 1; text-align: center;">
                                    <div class="f1-step-icon"><i class="fa fa-users"></i></div>
                                    <p>Ownership</p>
                                </div>
                            </div>
                            <fieldset id="step1" class="step-section active">
                                <h3>Select Property Type</h3>
                                <div class="row">
                                    <!-- Residential Card -->
                                    <div class="small-square-card-container">
                                        <div class="card property-type-card small-square-card" data-type="residential">
                                            <div class="card-body text-center">
                                                <i class="fa fa-home fa-2x"></i>
                                                <h5 class="card-title mt-2">Residential</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Commercial Card -->
                                    <div class="small-square-card-container">
                                        <div class="card property-type-card small-square-card" data-type="commercial">
                                            <div class="card-body text-center">
                                                <i class="fa fa-building fa-2x"></i>
                                                <h5 class="card-title mt-2">Commercial</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Thick Black Underline -->
                                <div class="thick-black-underline"></div>
                                <!-- Subtypes will be populated here based on selection -->
                                <div id="subtypeSelection" class="mt-4"></div>

                            </fieldset>

                            <fieldset id="step2" class="step-section">
                                <h3>Property Address</h3>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label class="sr-only" for="street1">Street 1</label>
                                        <input class="form-control" id="street1" type="text" name="street1" placeholder="Street 1" required="">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="sr-only" for="street2">Street 2</label>
                                        <input class="form-control" id="street2" type="text" name="street2" placeholder="Street 2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label class="sr-only" for="city">City</label>
                                        <input class="form-control" id="city" type="text" name="city" placeholder="City" required="">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="sr-only" for="state">State</label>
                                        <input class="form-control" id="state" type="text" name="state" placeholder="State" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label class="sr-only" for="country">Country</label>
                                        <input class="form-control" id="country" type="text" name="country" placeholder="Country" required="">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="sr-only" for="zipcode">Zip Code</label>
                                        <input class="form-control" id="zipcode" type="text" name="zipcode" placeholder="Zip Code" required="">
                                    </div>
                                </div>
                            </fieldset>



                            <fieldset id="step3" class="step-section">
                                <h3>Unit Information</h3>
                                <div id="unitFieldsContainer">
                                </div>
                                <button type="button" class="btn btn-info" id="addAnotherUnit">Add Another Unit</button>
                            </fieldset>

                            <fieldset id="step4" class="step-section">
                                <h3>Bank Accounts</h3>
                                <div class="row">
                                    <!-- Use Company Default Account Card -->
                                    <div class="small-square-card-container">
                                        <div class="card bank-account-option small-square-card" data-option="company-default">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Use Company Default Account</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Specify Bank Account Card -->
                                    <div class="small-square-card-container">
                                        <div class="card bank-account-option small-square-card" data-option="specify-account">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Specify Bank Account</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </fieldset>


                            <fieldset id="step5" class="step-section">
                                <h3>Reserve Funds</h3>
                                <div class="row">
                                    <!-- Set Property Reserve Card -->
                                    <div class="small-square-card-container">
                                        <div class="card reserve-funds-card small-square-card" data-option="set-reserve">
                                            <div class="card-body text-center">
                                                <h5 class="card-title mt-2">Set Property Reserve</h5>
                                                <p>This option will set up a reserve fund for the property.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Don't Set Property Reserve Card -->
                                    <div class="small-square-card-container">
                                        <div class="card reserve-funds-card small-square-card" data-option="dont-set-reserve">
                                            <div class="card-body text-center">
                                                <h5 class="card-title mt-2">Don't Set Property Reserve</h5>
                                                <p>This option will not set up a reserve fund for the property.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset id="step6" class="step-section">
                                <h3>Ownership</h3>
                                <div class="row">
                                    <!-- Owned by Me Card -->
                                    <div class="small-square-card-container">
                                        <div class="card ownership-card square-card small-square-card" data-option="owned-by-me">
                                            <div class="card-body text-center">
                                                <h5 class="card-title mt-2">Owned by Me</h5>
                                                <p>I am the owner of this property.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Owned by Someone Else Card -->
                                    <div class="small-square-card-container">
                                        <div class="card ownership-card square-card small-square-card" data-option="owned-by-someone-else">
                                            <div class="card-body text-center">
                                                <h5 class="card-title mt-2">Owned by Someone Else</h5>
                                                <p>This property is owned by someone else.</p>
                                            </div>
                                        </div>
                                        <div id="addOwnerSection" style="display: none;">
                                            <div class="card add-owner-card text-center">
                                                <div class="card-body">
                                                    <i class="fa fa-plus"></i>
                                                    <p>Add Owner</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>


                            <!-- Hidden inputs for AssetDTO -->
                            <input type="hidden" name="SelectedPropertyType" id="SelectedPropertyType">
                            <input type="hidden" name="SelectedSubtype" id="SelectedSubtype">
                            <input type="hidden" name="SelectedBankAccountOption" id="SelectedBankAccountOption">
                            <input type="hidden" name="SelectedReserveFundsOption" id="SelectedReserveFundsOption">
                            <input type="hidden" name="SelectedOwnershipOption" id="SelectedOwnershipOption">
                            <!-- Hidden inputs for owner details -->
                            <input type="hidden" name="OwnerName" id="OwnerName">
                            <input type="hidden" name="OwnerCompanyName" id="OwnerCompanyName">
                            <input type="hidden" name="OwnerAddress" id="OwnerAddress">
                            <input type="hidden" name="OwnerStreet" id="OwnerStreet">
                            <input type="hidden" name="OwnerZipcode" id="OwnerZipcode">
                            <input type="hidden" name="OwnerCity" id="OwnerCity">
                            <input type="hidden" name="OwnerCountry" id="OwnerCountry">



                            <div class="form-navigation" style="text-align: right;">
                                <button type="button" class="btn btn-secondary btn-previous" style="display:none;">Previous</button>
                                <button type="button" id="submitForm" class="btn btn-primary btn-next">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>


<div id="addOwnerModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Owner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ownerForm">
                    <div class="form-group">
                        <label for="ownerName">Owner Name</label>
                        <input type="text" class="form-control" id="ownerName" placeholder="Enter owner name">
                    </div>
                    <div class="form-group">
                        <label for="ownerCompanyName">Owner Company Name</label>
                        <input type="text" class="form-control" id="ownerCompanyName" placeholder="Enter company name">
                    </div>
                    <div class="form-group">
                        <label for="ownerAddress">Owner Address</label>
                        <input type="text" class="form-control" id="ownerAddress" placeholder="Enter address">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ownerStreet">Street</label>
                            <input type="text" class="form-control" id="ownerStreet" placeholder="Enter street">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ownerZipcode">Zip Code</label>
                            <input type="text" class="form-control" id="ownerZipcode" placeholder="Enter zipcode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ownerCity">City</label>
                            <input type="text" class="form-control" id="ownerCity" placeholder="Enter city">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ownerCountry">Country</label>
                            <input type="text" class="form-control" id="ownerCountry" placeholder="Enter country">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closebutton" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveOwner">Save</button>
            </div>
        </div>
    </div>
</div>




<script>
    var currentStep = 1;
    var totalSteps = 6;
    $(document).ready(function () {


        function navigateToStep(step) {
            $('.step-section').hide();
            $('#step' + step).fadeIn('slow');
            currentStep = step;

            var progressWidth = ((step - 1) / (totalSteps - 1)) * 100;
            $('.f1-progress-line').css('width', progressWidth + '%');

            $('.f1-step').removeClass('active');
            $('#stepIndicator' + step).addClass('active');

            if (step === 1) {
                $('.btn-previous').hide();
            } else {
                $('.btn-previous').show();
            }

            // Update button text and action without using 'onclick'
            if (step == totalSteps) {
                $('.btn-next').text('Submit').attr('type', 'submit').off('click').on('click', function (e) {
                    // Prevent default form submission if you need to perform custom validation or AJAX submission
                    e.preventDefault();
                    // Call your form submission logic here, if custom action is required
                    // submitForm();
                });
            } else {
                $('.btn-next').text('Next').attr('type', 'button').off('click').on('click', function () {
                    navigateToStep(currentStep + 1);
                });
            }
        }

        $('.btn-next').click(function () {
            if (currentStep < totalSteps) {
                if (validateCurrentStep()) {
                    navigateToStep(currentStep + 1);
                }
            } else {

                $('#multiStepForm').submit();
            }
        });


        $('.btn-previous').click(function () {
            if (currentStep > 1) {
                navigateToStep(currentStep - 1);
            }
        });

        navigateToStep(1);

        function displaySubtypes(type) {
            var subtypesHtml = '';
            if (type === 'residential') {
                // Residential Subtypes
                subtypesHtml = `
                        <div class="row">
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="single-family">
                                    <div class="card-body text-center">
                                        <i class="fa fa-home fa-2x"></i>
                                        <h5 class="card-title mt-2">Single Family</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="multi-family">
                                    <div class="card-body text-center">
                                        <i class="fa fa-building fa-2x"></i>
                                        <h5 class="card-title mt-2">Multi Family</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="condo">
                                    <div class="card-body text-center">
                                        <i class="fa fa-building-o fa-2x"></i>
                                        <h5 class="card-title mt-2">Condo</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="townhome">
                                    <div class="card-body text-center">
                                        <i class="fa fa-home fa-2x"></i>
                                        <h5 class="card-title mt-2">Townhome</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="other">
                                    <div class="card-body text-center">
                                        <i class="fa fa-building fa-2x"></i>
                                        <h5 class="card-title mt-2">Other</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
            } else if (type === 'commercial') {
                // Commercial Subtypes
                subtypesHtml = `
                        <div class="row">
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="industrial">
                                    <div class="card-body text-center">
                                        <i class="fa fa-industry fa-2x"></i>
                                        <h5 class="card-title">Industrial</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="office">
                                    <div class="card-body text-center">
                                        <i class="fa fa-building fa-2x"></i>
                                        <h5 class="card-title">Office</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="retail">
                                    <div class="card-body text-center">
                                        <i class="fa fa-shopping-bag fa-2x"></i>
                                        <h5 class="card-title">Retail</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="shopping-center">
                                    <div class="card-body text-center">
                                        <i class="fa fa-shopping-cart fa-2x"></i>
                                        <h5 class="card-title">Shopping Center</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="storage">
                                    <div class="card-body text-center">
                                        <i class="fa fa-warehouse fa-2x"></i>
                                        <h5 class="card-title">Storage</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="small-square-card-container">
                                <div class="card property-subtype-card small-square-card" data-subtype="other">
                                    <div class="card-body text-center">
                                        <i class="fa fa-building fa-2x"></i>
                                        <h5 class="card-title">Other</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
            }
            $('#subtypeSelection').html(subtypesHtml).show();

            $('.property-subtype-card').off('click').on('click', function () {
                $('.property-subtype-card').removeClass('selected');
                $(this).addClass('selected');
            });

            var unitFieldsHtml = '';
            if (type === 'residential') {

                unitFieldsHtml = `
                               <div class="row">
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="sr-only" for="unitName">Unit Name</label>
                                <input class="form-control" id="unitName" type="text" name="unitName" placeholder="Unit Name" required="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-2">
                                <label class="sr-only" for="beds">Beds</label>
                                <input class="form-control" id="beds" type="number" name="beds" placeholder="Beds" required="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-2">
                                <label class="sr-only" for="bath">Bath</label>
                                <input class="form-control" id="bath" type="number" name="bath" placeholder="Bath" required="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-2">
                                <label class="sr-only" for="size">Size</label>
                                <input class="form-control" id="size" type="number" name="size" placeholder="Size" required="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-2">
                                <label class="sr-only" for="rent">Rent</label>
                                <input class="form-control" id="rent" type="number" name="rent" placeholder="Rent" required="">
                            </div>
                        </div>
                    </div>

                        `;
            } else if (type === 'commercial') {
                // Commercial unit fields
                unitFieldsHtml = `
                                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-2">
                                    <label class="sr-only" for="unitName">Unit Name</label>
                                    <input class="form-control" id="unitName" type="text" name="unitName" placeholder="Unit Name" required="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <label class="sr-only" for="beds">Beds</label>
                                    <input class="form-control" id="beds" type="number" name="beds" placeholder="Beds" required="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <label class="sr-only" for="bath">Bath</label>
                                    <input class="form-control" id="bath" type="number" name="bath" placeholder="Bath" required="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <label class="sr-only" for="size">Size</label>
                                    <input class="form-control" id="size" type="number" name="size" placeholder="Size" required="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <label class="sr-only" for="rent">Rent</label>
                                    <input class="form-control" id="rent" type="number" name="rent" placeholder="Rent" required="">
                                </div>
                            </div>
                        </div>
                        `;
            }

            $('#unitFields').html(unitFieldsHtml);

        }



        $('.property-type-card').click(function () {
            var type = $(this).data('type');

            $('.property-type-card').removeClass('selected');
            $(this).addClass('selected');
            displaySubtypes(type);
        });

        $(document).on('click', '.property-subtype-card', function () {

            $('.property-subtype-card').removeClass('selected');

            $(this).addClass('selected');
        });


        $('.property-type-card').click(function () {
            var type = $(this).data('type');
            $('#SelectedPropertyType').val(type);
            // Rest of the code to display subtypes
        });

        $(document).on('click', '.property-subtype-card', function () {
            var subtype = $(this).data('subtype');
            $('#SelectedSubtype').val(subtype);
        });


        function validateCurrentStep() {
            var isValid = true;
            var Toast = Swal.mixin({ toast: true, position: 'top-end', showConfirmButton: false, progressBar: true, timer: 3000 });

            switch (currentStep) {
                case 1:
                    if ($('.property-type-card.selected').length === 0 || $('.property-subtype-card.selected').length === 0) {
                        isValid = false;
                        Toast.fire({
                            icon: 'error',
                            title: 'Please select property type and subtype.'
                        });
                    }
                    break;
                case 2:
                    if ($('#street1').val() === '' || $('#city').val() === '' || $('#state').val() === '' || $('#country').val() === '' || $('#zipcode').val() === '') {
                        isValid = false;
                        Toast.fire({
                            icon: 'error',
                            title: 'Please fill in all address fields.'
                        });
                    }
                    break;
                case 3:
                    if ($('#unitName').val() === '' || $('#beds').val() === '' || $('#bath').val() === '' || $('#size').val() === '' || $('#rent').val() === '' || $('#room').val() === '') {
                        isValid = false;
                        Toast.fire({
                            icon: 'error',
                            title: 'Please fill in all unit information fields.'
                        });
                    }
                    break;
                case 4:
                    if ($('.bank-account-option.selected').length === 0) {
                        isValid = false;
                        Toast.fire({
                            icon: 'error',
                            title: 'Please select a bank account option.'
                        });
                    }
                    break;
                case 5:
                    if ($('.reserve-funds-card.selected').length === 0) {
                        isValid = false;
                        Toast.fire({
                            icon: 'error',
                            title: 'Please select a reserve funds option.'
                        });
                    }
                    break;
                case 6:
                    if ($('.ownership-card.selected').length === 0) {
                        isValid = false;
                        Toast.fire({
                            icon: 'error',
                            title: 'Please select an ownership option.'
                        });
                    }
                    break;
                default:
                    break;
            }
            return isValid;
        }




    });

    $('.bank-account-option').click(function () {
        var option = $(this).data('option');
        $('#SelectedBankAccountOption').val(option);
    });

    $('.reserve-funds-card').click(function () {
        var option = $(this).data('option');
        $('#SelectedReserveFundsOption').val(option);
    });

    $('.ownership-card').click(function () {
        var option = $(this).data('option');
        $('#SelectedOwnershipOption').val(option);
    });




    $('.reserve-funds-card').click(function () {

        $('.reserve-funds-card').removeClass('selected');

        $(this).addClass('selected');
    });



    $(document).ready(function () {

        $('.bank-account-option').click(function () {

            $('.bank-account-option').removeClass('selected');
            $(this).addClass('selected');
        });
    });


    $('.ownership-card').click(function () {

        $('.ownership-card').removeClass('selected');

        $(this).addClass('selected');

        if ($(this).data('option') === 'owned-by-someone-else') {
            $('#addOwnerSection').show();
        } else {
            $('#addOwnerSection').hide();
        }
    });

    $('.add-owner-card').click(function () {
        $('#addOwnerModal').modal('show');
    });


    $('.close').click(function () {
        $('#addOwnerModal').modal('hide');
    });

    $('.closebutton').click(function () {
        $('#addOwnerModal').modal('hide');
    });



    $('#closeModal').click(function () {
        $('#addOwnerModal').modal('hide');
    });

    $('#addOwnerModal').on('click', function (event) {
        if ($(event.target).is('.modal')) {
            $('#addOwnerModal').modal('hide');
        }
    });


    function collectFormData() {
        var units = collectUnitsData();

        var assetDTO = {
            SelectedPropertyType: $('#SelectedPropertyType').val(),
            SelectedSubtype: $('#SelectedSubtype').val(),
            Street1: $('#street1').val(),
            Street2: $('#street2').val(),
            City: $('#city').val(),
            State: $('#state').val(),
            Country: $('#country').val(),
            Zipcode: $('#zipcode').val(),
            Units: units,
            SelectedBankAccountOption: $('#SelectedBankAccountOption').val(),
            SelectedReserveFundsOption: $('#SelectedReserveFundsOption').val(),
            SelectedOwnershipOption: $('#SelectedOwnershipOption').val(),
            OwnerName: $('#OwnerName').val(),
            OwnerCompanyName: $('#OwnerCompanyName').val(),
            OwnerAddress: $('#OwnerAddress').val(),
            OwnerStreet: $('#OwnerStreet').val(),
            OwnerZipcode: $('#OwnerZipcode').val(),
            OwnerCity: $('#OwnerCity').val(),
            OwnerCountry: $('#OwnerCountry').val()
        };

        return assetDTO;
    }



    $('#submitForm').click(function (event) {
        event.preventDefault();
        debugger;
        // Manually construct the JSON object from the form data
        var formData = collectFormData();

        if (currentStep === totalSteps) {
            $.ajax({
                url: '@Url.Action("AddAsset", "Assests")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(formData),
                success: function (response) {
                    console.log("Success:", response);
                    window.location.href = '/SuccessPage';
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });

        } else {
            navigateToStep(currentStep + 1);
        }
    });





    function collectUnitsData() {
        var units = [];
        $('#unitFieldsContainer .unit-fields').each(function () {
            var unit = {
                UnitName: $(this).find('[name="unitName"]').val(),
                Beds: parseInt($(this).find('[name="beds"]').val(), 10),
                Bath: parseInt($(this).find('[name="bath"]').val(), 10),
                Size: parseInt($(this).find('[name="size"]').val(), 10),
                Rent: parseFloat($(this).find('[name="rent"]').val())
            };
            units.push(unit);
        });
        return units;
    }




    $(document).ready(function () {

        function addUnitFields() {
            var unitIndex = $('#unitFieldsContainer .unit-fields').length + 1;
            var unitFieldsHtml = `
                            <div class="unit-fields" id="unitFields${unitIndex}">
                                <hr>
                                <h5>Unit ${unitIndex}</h5>
                                <div class="form-row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Unit Name" name="unitName[]">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Beds" name="beds[]">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Bath" name="bath[]">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Size" name="size[]">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Rent" name="rent[]">
                                    </div>
                                </div>
                            </div>`;
            $('#unitFieldsContainer').append(unitFieldsHtml);
        }
        addUnitFields();

        $('#addAnotherUnit').click(function () {
            addUnitFields();
        });
    });


    $('#saveOwner').click(function () {
        console.log("Saving owner...");

        $('#addOwnerModal').modal('hide');
    });


</script>