
<div class="page-body">
    <div class="container default-dash">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xl-6 col-md-6 dash-xl-50">
                        <div class="card profile-greeting">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="greeting-user">
                                            <h1>Hello, ,.....</h1>
                                            <p>Welcome back, your dashboard is ready!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cartoon-img"><img class="img-fluid" src="~/Dashboard/assets/images/images.svg" alt=""></div>
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 dash-xl-50">
                        <div class="card total-transactions">
                            <div class="row m-0">
                                <div class="col-md-12 col-sm-12 p-0 report-sec">
                                    <div class="card-body pt-0">
                                        <div class="row" style="padding-top:27px!important">
                                            <div class="col-6 report-main">
                                                <div class="report-content text-center">
                                                    <p class="font-theme-light">Balance Due</p>
                                                    <h5>233.45$</h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="report-content text-center">
                                                    <p class="font-theme-light">Next Payment</p>
                                                    <h5>100.45$</h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="media report-perfom">
                                                    <a class="btn btn-primary" href="">Setup Auto-Pay</a>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="media report-perfom">
                                                    <a class="btn btn-success" href="">Make a Payment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <div class="card card-absolute">
                            <div class="card-header bg-primary b-l-primary">
                                <h5 class="text-white">Absolute Style</h5>
                            </div>
                            <div class="card-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 faq-articles">
                        <div class="header-faq">
                            <h3 class="mb-0">Latest articles and videos</h3>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <i class="m-r-30" data-feather="codepen"></i>
                                                    <div class="media-body">
                                                        <h6 class="f-w-600">Using Video</h6>
                                                        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <i class="m-r-30" data-feather="file-text"></i>
                                                    <div class="media-body">
                                                        <h6 class="f-w-600"> Donec pede justo</h6>
                                                        <p> Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="row">
                                    <div class="col-xl-12 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <i class="m-r-30" data-feather="youtube"></i>
                                                    <div class="media-body">
                                                        <h6 class="f-w-600"> Vel illum qu</h6>
                                                        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
